.navbar {
  width: 890px;
  height: 80px;
  margin: 21px  auto;
  border-radius: 122px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(252, 252, 252, 1);
  box-shadow: 0px 0px 20px 0px rgba(127, 127, 127, 0.15); 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  position: relative;
  width: 60px;
  height: 50px;
} 

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-links li {
  font-weight: 600;
  font-style: bold;
  font-size: 16px;
  line-height: 100%;
  color: rgba(48, 48, 48, 1);
  cursor: pointer;
}

.create-job-btn {
  background: linear-gradient(180deg, #A128FF 0%, #6100AD 113.79%);
  color: white;
  font-size: 16px;
  width: 136px;
  height: 40px;
  line-height: 100%;
  padding: 8px 24px 8px 24px;
  border: none;
  margin-left: 20px;
  border-radius: 30px;
  cursor: pointer;
} 

header {
  width: 100%;
}
 
.filter-section {
  margin: 20px auto;
  width: 1440px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 14px 0px rgba(198, 191, 191, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 16px 3%;
  height: 90px;
  gap: 20px;
  font-family: 'Satoshi Variable';
}

.filter-item {
  display: flex;
  position: relative;
  align-items: center;
  gap: 12px;
  padding: 0 10px;
}
.filter-item .down{
  position: absolute;
  width: 24px;
  height: 24px;
  right: -20px;
}
.filter-input {
  border: none;
  font-size: 18px;
  color: #303030;
  opacity: 0.7;
  background: transparent;
  outline: none;
  width: 190px;
}

.filter-input::placeholder {
  color: rgba(104, 104, 104, 1);
  font-weight: 500;
  font-size: 16px;
}

select.filter-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.vertical-line {
  height: 48px;
  border: 1px solid rgba(234, 234, 234, 1);
  background-color: rgba(48, 48, 48, 0.1);
}

.salary-range-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.salary-range-text label {
  font-size: 16px;
  color: rgba(34, 34, 34, 1);
}

.salary-value {
  font-size: 16px;
  font-weight: 600;
  color: rgba(34, 34, 34, 1);
  margin-left: 8px;
}

.range-wrapper {
  position: relative;
  width: 248px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.salary-range {
  -webkit-appearance: none;
  width: 100%;
  height: 6px;
  background: transparent;
  position: absolute;
  pointer-events: none;
}

.salary-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  border: 2px solid rgba(204, 194, 194, 1);
  border-radius: 4px;
}

.salary-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: auto;
  width: 14px;
  height: 14px;
  background: #fff;
  border: 4px solid #000;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -6px;
}

.salary-range::-moz-range-track {
  width: 100%;
  height: 2px;
  border: 2px solid rgba(204, 194, 194, 1);
  border-radius: 4px;
}

.salary-range::-moz-range-thumb {
  width: 14px;
  height: 14px;
  background: #fff;
  border: 4px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.filter-item .location{
  width: 18px;
  height: 21.01px;
  color: rgba(104, 104, 104, 1);
  position: absolute;
  left: -40px;
}
.filter-item .jobType{
  width: 21px;
  position: absolute;
  left: -40px;
}
.filter-item .search{
  width: 18px;
  height: 18px;
}

.filter-input.select-dropdown {
  position: relative;
  color: rgba(104, 104, 104, 1);
  font-weight: 500;
  font-size: 16px;
}

.filter-input.select-dropdown:focus {
  outline: none;

}

.filter-input.select-dropdown .option {
  padding: 10px;
  background: white;
  color: #303030;
}

.filter-item.select-container {
  position: relative;
}

.filter-item.select-container::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 12px;
  height: 8px;
  pointer-events: none;
}
.salary-range-text{
  display: flex;
  gap: 40px;
}
.salary-range-text label{
  color: black;
  font-weight: 600;
}